<!DOCTYPE html>
<html>

<head>
    <title>Disease Detector</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- <style>
        
    </style> -->

</head>

<body>

    <div class="container">
        <div class="left">
            <div class="header">
                <h2 class="animation a1" style="font-size: 34px;">WELCOME to DISEASE DETECTOR</h2>
                <h4 class="animation a2" style="font-size: 24px;">Select all the symptoms you have and diagonise your disease based on your
                    symptoms</h4>
            </div>
            <div class="form">

                <button class="animation a6"> <a href="select-details.html" style="color: white;"> DIAGONISE </a></button>

            </div>
        </div>
        <div class="right"></div>
    </div>
</body>

</html>